#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#description {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

#menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    width: 400px;
    margin: 20px;
}

#storyDisplay {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 500px;
    width: 400px;
    margin: 20px;
}

#buttons {
    display: flex;
    justify-content: center;
}